.main-head {
  color: white;
  background-color: black;
  padding: 21px;
  text-align: center;
  font-size: 100px;
  margin-top: 20px;
  margin-bottom: 25px;
  right: 0;
  left: 0;
}

.bars {
  width: 100%;
  background-color: black;
  height: 30px;
  position: fixed;

  bottom: 0;
}

/* img {
  margin-right: 25%;
  margin-left: 25%;
  height: 300px;
  width: auto;
} */

.carousel > .carousel-item > img {
  width: auto;
  height: 350px;
}
